[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
gpt4all = "*"
llama-index = "*"
llama-index-embeddings-langchain = "*"
llama-index-llms-langchain = "*"
sentence-transformers = "*"
ipykernel = "*"
pandas = "*"
pydantic = "*"
openai = "*"
llama-index-program-openai = "*"
pyaudio = "*"
gtts = "*"
speechrecognition = "*"
spacy = "*"
faiss-cpu = "*"
transformers = "*"
ipywidgets = "*"
pydub = "*"
pygame = "*"
boto3 = "*"
langchain-community = "*"
chromadb = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
